<h1>Currency pairs</h2>


<p>Go <a href="/">back</a>.</p>

<ul>
  <%@array_of_symbols.each do | a_symbols | %>
    <li>
      <a href="/forex/<%= a_symbols %>">
        Convert 1 <%= a_symbols %> to...
      </a>
    </li>
  <% end %>
</ul>
